html{
    scroll-behavior:smooth;
    scroll-padding-top: 65px;
}

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.70s ease;
}

.navbar-list a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.navbar_list a::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.70s ease;
}

.navbar_list a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.navbar_list li {
  position: relative;
  padding: 0;
}


#hero{
    animation: slide-top 1.7s ease-in-out;
}

.products-cards {
    transition: all 0.3s linear;
}
.products-cards img:hover {
    transform: scale(1.048);
    transition: all 0.5s ease-in-out;
  }

  .portada a{
    transition: all 0.2s ease-in;
    transform: scale(1.1);
  }

  .portada a:hover{
    transition: all 0.2s ease-in;
    color: #000000;
    background: #0cec80;
    border: none;
    transform: scale(1.3);
  }
  .btn-add:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
}
.btn-add:hover:hover {
    transition: all 0.4s ease-in;
    color: #000000;
    background: #24dd87;
    border: none;
    transform: scale(1.2);
}

.botonformu{
    transition: all 0.2s ease-in;
    transform: scale(1.1);
}

.botonformu:hover{
    transition: all 0.2s ease-in;
    color: #000000;
    background: #0cec80;
    border: none;
    transform: scale(1.2);
}

.disabled {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.disabled:hover {
  background-color: rgb(238, 7, 7);
  color: white;
  cursor: not-allowed;
  border: none;
}
 

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; 
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

 @keyframes slide-top {
    from {
      transform: translateY(-370px);
    }
    to {
      transform: translateY(0);
    }
}